<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_vLuIw3p6xXWuV-UeZkMTNADi1s4WRO0</string>
	<key>GCM_SENDER_ID</key>
	<string>352098370622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tscafe.app</string>
	<key>PROJECT_ID</key>
	<string>resturant-19b77</string>
	<key>STORAGE_BUCKET</key>
	<string>resturant-19b77.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352098370622:ios:bf4c99d24f05d4984a7d6f</string>
</dict>
</plist>